* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainContainer button {
  background-color: #ec5b53;
  border: none;
  color: #fff;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 17px;
}
.mainContainer button:hover {
  background-color: #fcf4f4;
  border: 2px solid #ec5b53;
  color: #ec5b53;
  cursor: pointer;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .mainContainer .navbar {
  background-color: #fefafa;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5rem 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
 }
 .list {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
 }
 ul {
  display: flex;
  margin-right: 8rem;
 }
 ul li {
  margin-left: 2.5rem;
  list-style: none;
  cursor: pointer;
 }
 ul li:hover {
  color: #ec5b53;
 }
 .icon {
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
 }


 .about {
  display: flex;
  align-items: center;
  background-color: #fefafa;
  justify-content: center;
  width: 100%;
  padding: 0 10rem;
}
.about .aboutbox {
  width: 100%;
  padding: 1rem;
  padding-top: 6rem;
  margin-left: 5rem;
}
.aboutbox .heading {
  margin-bottom: 30px;
  width: 100%;
}
.aboutbox .heading h1 {
  color: #002d5b;
  line-height: 70px;
  font-size: 4rem;
}
.aboutbox .para {
  color: #7A7A7A;
  line-height: 24px;
  width: 100%;
  margin-bottom: 50px;
  font-size: 20px;
}
.aboutbox .spanbox {
  margin-bottom: 50px;
}
.aboutbox .spanbox a{
  text-decoration: none;
  color: #fff;
  background-color: #ec5b53;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 8px;
}
.aboutbox .spanbox a:hover {
  background-color: #fff;
  border: 2px solid #ec5b53;
  color: #ec5b53;
  cursor: pointer;
}
.about .imgBox {
  width: 100%;
  /* border: solid; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgBox img {
  margin-bottom: 15rem;
  width: 450px;
  height: 460px;  
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.skills .mySkill{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20rem;
}
.skills .mySkill h1 {
  color: #002d5b;
  font-size: 2.8rem;
}
.skills .mySkill p {
  font-size: 20px;
  margin-top: 20px;
}
.mySkill .myNewDiv {
  background-color: #ec5b53;
  width: 150px;
  height: 3px;
  margin-top: 40px;
}
.skills .skillImg{
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skillImg div {
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}
.skillImg div:hover {
  transform: scale(1.2);
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fefafa;
  margin-top: 2rem;
  width: 100%;
}
.projects .myProject{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects .myProject h1 {
  color: #002d5b;
  font-size: 2.8rem;
}
.projects .myProject p {
  font-size: 20px;
  margin-top: 20px;
}
.projects .myProject .myDiv {
  background-color: #ec5b53;
  width: 150px;
  height: 3px;
  margin-top: 20px;
}
.projects .projectsBox {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.projectsBox .project { 
   background-color: #fff;
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
}
.projectsBox .project:hover {
  transform: scale(1.05);
}
.projectsBox .project h2 {
  margin-top: 10px;
  color: #002d5b;
}
.projectsBox .project p {
  margin-top: 10px;
  color: #7A7A7A;
}
.project .demoBtn {
  margin-top: 30px;
}
.project .demoBtn button {
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 15px;
  margin: 0 10px;
}


.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 1rem;
}
.contacts .myContacts {
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacts .myContacts h1 {
  color: #002d5b;
  font-size: 2.8rem;
}
.contacts .myContacts .myDiv {
  background-color: #ec5b53;
  width: 150px;
  height: 3px;
  margin-top: 20px;
}
.contacts .contactsInput {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25rem;
}
.contacts .contactsInput input {
  width: 100%;
  height: 3.5rem;
  margin: .5rem;
  border-radius: 10px;
  padding: 0 20px;
  font-size: 20px;
  outline: none;
  border: 1px solid gray;
}
.contacts .contactsInput textarea {
  width: 100%;
  height: 130px;
  margin: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
}
.contactsInput .sendBtn {
  background-color: #ec5b53;
  border: none;
  outline: none;
  color: #fff;
}


.footer {
  margin-top: 2rem;
  height: 18rem;
  width: 100%;
  background-color: #002d5b;
}
.footer .myFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
  color: #fff;
  font-size: 30px;
}
.myFooter svg {
  fill: #fff;
  height: 2rem;
  width: 2rem;
}
.footer .footerEnd {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.1rem;
}



 @media (max-width: 768px) {
  .navbar {
    padding: 1rem 10%;
    flex-direction: column;
  }
  .list {
    font-size: 1.3rem;
   }
   ul {
    margin: .5rem 0;
  }
  ul li {
    margin-left: 1.5rem;
  }
  .list button {
    margin-left: 2rem;
    margin-top: .5rem;
  } 

  .about {
    flex-direction: column;
    padding: 0;
  }
  .about .aboutbox {
    margin: 0;
    width: 100%;
    padding: 1rem;
    padding-top: 3rem;
    margin-left: 0;
  }
  .aboutbox .heading {
    margin-bottom: 20px;
  }
  .aboutbox .heading h1 {
    line-height: 50px;
    font-size: 2.8rem;
  }
  .aboutbox .para {
    font-size: 1.05rem;
  }
  .about .imgBox {
    height: 25rem;
  }
  .imgBox img {
    margin-bottom: 15rem;
    width: 450px;
    height: 460px;  
  }

  .skills {
    flex-direction: column;
  }
  .skills .mySkill{
    width: 100%;
    height: 10rem;
  }
  .skills .mySkill h1 {
    font-size: 2rem;
  }
  .skills .mySkill p {
    font-size: 1.1rem;
    margin-top: .8rem;
  }
  .mySkill .myNewDiv {
    width: 8rem;
    margin-top: 1.5rem;
  }
  .skills .skillImg{
    height: 18rem;
  }
  .skillImg div {
    margin-left: 0;
  }


  .projects .myProject h1 {
    color: #002d5b;
    font-size: 2rem;
  }
  .projects .myProject p {
    font-size: 1.1rem;
    margin-top: .8rem;
  }
  .projects .myProject .myDiv {
    width: 8rem;
  }

  .contacts {
    flex-direction: column;
  }
  .contacts .myContacts {
    margin-right: 0;
  }
  .contacts .myContacts h1 {
    font-size: 2rem;
  }
  .contacts .myContacts .myDiv {
    width: 8rem;
    margin-top: 1rem;
  }
  .contacts .contactsInput {
    margin-left: 0;
    width: 16rem;
    margin-top: 1rem;
  }
  .contacts .contactsInput input {
    height: 2.8rem;
    font-size: 16px;
  }
  .contacts .contactsInput textarea {
    height: 90px;
    margin: 1rem;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }

  
.footer {
  height: 18rem;
}
.footer .myFooter {
  flex-direction: column;
  margin-top: 2rem;
  font-size: 1.4rem;
}
.footer .footerEnd {
  margin-top: 4rem;
  font-size: .8rem;
}
 }